{{ define "main" }}
  <h2>{{ i18n "Official" | default "Official" }}</h2>
  {{ partial "entries.html" (dict "section" "Official" "entries" site.Data.data.Official) }}


  <h2>{{ i18n "Documents & Reports" | default "Documents & Reports" }}</h2>
  {{ partial "entries.html" (dict "section" "Documents & Reports" "entries" (index site.Data.data "Documents & Reports")) }}
  <h3>Civilian Casualties Since October 7th</h3>
  {{ partial "entries.html" (dict "section" "Documents & Reports" "entries" (index site.Data.data "Civilian Casualties Since October 7th")) }}


  <h2>{{ i18n "Essays & Articles" | default "Essays & Articles" }}</h2>
  {{ partial "entries.html" (dict "section" "Essays & Articles" "entries" (index site.Data.data "Essays & Articles")) }}


  <h2>{{ i18n "Books" | default "Books" }}</h2>
  <h3>{{ i18n "History" | default "History" }}</h3>
  {{ partial "entries.html" (dict "section" "Books" "entries" site.Data.data.Books.History) }}
  <h3>{{ i18n "Politics" | default "Politics" }}</h3>
  {{ partial "entries.html" (dict "section" "Books" "entries" site.Data.data.Books.Politics) }}
  <h3>{{ i18n "Israel" | default "Israel" }}</h3>
  {{ partial "entries.html" (dict "section" "Books" "entries" site.Data.data.Books.Israel) }}
  <h3>{{ i18n "Zionism" | default "Zionism" }}</h3>
  {{ partial "entries.html" (dict "section" "Books" "entries" site.Data.data.Books.Zionism) }}
  <h4>{{ i18n "Non-Jewish Zionism" | default "Non-Jewish Zionism" }}</h4>
  {{ partial "entries.html" (dict "section" "Books" "entries" (index site.Data.data.Books "Non-Jewish Zionism")) }}
  <h3>{{ i18n "Gaza" | default "Gaza" }}</h3>
  {{ partial "entries.html" (dict "section" "Books" "entries" site.Data.data.Books.Gaza) }}
  <h3>
    {{ i18n "Arabs of Israel (48-Palestinians)" | default "Arabs of Israel (48-Palestinians)" }}
  </h3>
  {{ partial "entries.html" (dict "section" "Books" "entries" (index site.Data.data.Books "Arabs of Israel (48-Palestinians)")) }}
  <h3>
    {{ i18n "Biographies, Autobiographies & Memoirs" | default "Biographies, Autobiographies & Memoirs" }}
  </h3>
  {{ partial "entries.html" (dict "section" "Books" "entries" (index site.Data.data.Books "Biographies, Autobiographies & Memoirs")) }}
  <h3>{{ i18n "Fiction" | default "Fiction" }}</h3>
  {{ partial "entries.html" (dict "section" "Books" "entries" site.Data.data.Books.Fiction) }}


  <h2>{{ i18n "Archives" | default "Archives" }}</h2>
  {{ partial "entries.html" (dict "section" "Archives" "entries" site.Data.data.Archives) }}


  <h2>{{ i18n "Movies" | default "Movies" }}</h2>
  {{ partial "entries.html" (dict "section" "Movies" "entries" site.Data.data.Movies) }}


  <h2>{{ i18n "Media" | default "Media" }}</h2>
  {{ partial "entries.html" (dict "section" "Media" "entries" site.Data.data.Media) }}


  <h2>
    {{ i18n "War Supporting Companies" | default "War Supporting Companies" }}
  </h2>
  {{ partial "entries.html" (dict "section" "War Supporting Companies" "entries" (index site.Data.data "War Supporting Companies")) }}


  <h2>
    {{ i18n "Open-Source Intelligence" | default "Open-Source Intelligence" }}
  </h2>
  {{ partial "entries.html" (dict "section" "Open-Source Intelligence" "entries" (index site.Data.data "Open-Source Intelligence")) }}


  <h2>
    {{ i18n "Activists & Journalists" | default "Activists & Journalists" }}
  </h2>
  {{ partial "entries.html" (dict "section" "Activists & Journalists" "entries" (index site.Data.data "Activists & Journalists")) }}


  <h2>{{ i18n "Donations" | default "Donations" }}</h2>
  {{ partial "entries.html" (dict "section" "Donations" "entries" site.Data.data.Donations) }}


  <h2>{{ i18n "Petitions" | default "Petitions" }}</h2>
  {{ partial "entries.html" (dict "section" "Petitions" "entries" site.Data.data.Petitions) }}


  <h2>
    {{ i18n "Pro-Palestine Websites" | default "Pro-Palestine Websites" }}
  </h2>
  {{ partial "entries.html" (dict "section" "Pro-Palestine Websites" "entries" (index site.Data.data "Pro-Palestine Websites")) }}


  <h2>{{ i18n "APIs" | default "APIs" }}</h2>
  <ul class="ms-4">
    <li>
      Data for this project in read-only JSON formatted data can be found
      <a href="/index.json">here</a>
    </li>
  </ul>

  {{ partial "entries.html" (dict "section" "APIs" "entries" site.Data.data.APIs) }}


  <h2>{{ i18n "Contributors" | default "Contributors" }}</h2>
  <a href="https://github.com/aborazmeh/awesome-palestine/graphs/contributors">
    <img
      src="https://contrib.rocks/image?repo=aborazmeh/awesome-palestine"
      alt="{{ i18n "contributors" | default "contributors" }}"
    />
  </a>

  <h2>{{ i18n "License" | default "License" }}</h2>
  <img
    class="inline-block"
    src="https://badgen.net/github/license/aborazmeh/awesome-palestine"
    alt="MIT License"
  />
{{ end }}
