{{- $section := .section -}}


<ul class="ms-4">
  {{- range .entries -}}
    <li>
      {{- partial "icon.html" (dict "section" $section "entry" .) }}
      <a
        href="{{- partial "entry_link.html" . -}}"
        target="_blank"
        rel="noopener noreferrer"
        >{{- partial "entry_text.html" . -}}
      </a>

      {{- with .adds_list -}}
        {{ partial "entries.html" (dict "section" $section "entries" .) }}
      {{- end -}}

      {{- range .adds }}
        |
        {{- partial "icon.html" (dict "section" $section "entry" .) }}
        <a
          href="{{- partial "entry_link.html" . -}}"
          target="_blank"
          rel="noopener noreferrer"
          >{{- partial "entry_text.html" . -}}
        </a>
      {{- end -}}

      {{- if .note -}}
        <div class="ms-4">{{- .note | markdownify -}}</div>
      {{- end -}}
    </li>
  {{- end -}}
</ul>
