{{- $section := .section -}}

{{- $entries := .entries -}}
{{- if eq $section "Books" -}}
  {{- $entries = sort .entries "pub_year" "desc" -}}
{{- else if eq $section "Essays & Articles" -}}
  {{- $entries = sort .entries "pub_date" "desc" -}}
{{- else if eq $section "Movies" -}}
  {{- $entries = sort .entries "year" "desc" -}}
{{- else if eq $section "Donations" -}}
  {{- $entries =  sort .entries "country" -}}
{{- else if or (eq $section "Archives") (eq $section "Media") (eq $section "Activists & Journalists") (eq $section "Petitions") -}}
  {{- $entries = sort .entries "title" -}}
{{- end -}}


<ul class="ms-4">
  {{- range $entries -}}
    <li>
      {{- partial "icon.html" (dict "section" $section "entry" .) }}
      <a
        href="{{- partial "entry_link.html" . -}}"
        target="_blank"
        rel="noopener noreferrer"
        >{{- partial "entry_text.html" . -}}
      </a>
      {{ if .text -}} {{ .text -}} {{- end -}}

      {{- with .adds_list -}}
        {{ partial "entries.html" (dict "section" $section "entries" .) }}
      {{- end -}}

      {{- range .adds }}
        |
        {{- partial "icon.html" (dict "section" $section "entry" .) }}
        <a
          href="{{- partial "entry_link.html" . -}}"
          target="_blank"
          rel="noopener noreferrer"
          >{{- partial "entry_text.html" . -}}
        </a>
      {{ if .text -}} {{ .text -}} {{- end -}}
      {{- end -}}

      {{- if .note -}}
        <div class="ms-4">{{- .note | markdownify -}}</div>
      {{- end -}}
    </li>
  {{- end -}}
</ul>
